{% extends "core_main_app/_render/admin/theme/tools/section.html" %}
{% load staticfiles %}

{% block section_title %}Metadata Formats{% endblock %}

{% block section_content %}
    {% include 'core_oaipmh_provider_app/admin/registry/metadata_formats/table_default.html' %}
    {% include 'core_oaipmh_provider_app/admin/registry/metadata_formats/table_metadata_formats.html' %}
    {% include 'core_oaipmh_provider_app/admin/registry/metadata_formats/table_template_metadata_formats.html' %}
{% endblock %}