{% extends 'core_main_app/_render/admin/theme/tools/box.html' %}

{% block box_title %}
    Metadata Formats by Default <br/>
    <small>Add other metadata formats by providing a URL.
        You will need to configure an XSLT file for each Template to perform the
        mapping between the templates and those metadata formats.
    </small>
{% endblock %}
{% block box_body %}
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th width="10%;">Metadata Prefix</th>
        <th width="30%;">Schema</th>
        <th width="40%;">Namespace</th>
        <th width="20%;">Actions</th>
    </tr>
    {% for metadata_format in data.default_metadata_formats %}
        <tr>
            <td>{{ metadata_format.metadata_prefix }}</td>
            <td>{{ metadata_format.schema }}</td>
            <td>{{ metadata_format.metadata_namespace }}</td>
            <td>
                <a class="btn btn-secondary mapping-default-metadata_format-btn"
                   href="{% url 'admin:core_oaipmh_provider_app_xslt_template_mapping'  metadata_format.id %}">
                    <i class="fas fa-random"></i> Mapping
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td class="empty" colspan="3">
                There are currently no Metadata Formats by Default.
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}