{% extends 'core_main_app/_render/admin/theme/tools/box.html' %}

{% block box_title %}
    Other Metadata Formats <br/>
    <small>Add other metadata formats by providing a URL.
        You will need to configure an XSLT file for each Template to perform the
        mapping between the templates and those metadata formats.
    </small>
{% endblock %}
{% block box_tools %}
<div class="btn-group float-right">
    {% url 'admin:core_oaipmh_provider_app_add_metadata_format' as add_url %}
    {% include 'core_main_app/common/buttons/add.html' with label='Add Metadata Format' %}
</div>
{% endblock %}
{% block box_body %}
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th width="10%;">Metadata Prefix</th>
        <th width="30%;">Schema</th>
        <th width="40%;">Namespace</th>
        <th width="20%;">Actions</th>
    </tr>
    {% for metadata_format in data.metadata_formats %}
        <tr objectid="{{ metadata_format.id }}">
            <td>{{ metadata_format.metadata_prefix }}</td>
            <td>{{ metadata_format.schema }}</td>
            <td>{{ metadata_format.metadata_namespace }}</td>
            <td>
                {% url 'admin:core_oaipmh_provider_app_edit_metadata_format' metadata_format.id as edit_url %}
                {% include 'core_main_app/common/buttons/edit.html' %}
                {% url 'admin:core_oaipmh_provider_app_delete_metadata_format' metadata_format.id as delete_url %}
                {% include 'core_main_app/common/buttons/delete.html' %}
                <span>
                    <a class="btn btn-secondary mapping-metadata_format-btn"
                       href="{% url 'admin:core_oaipmh_provider_app_xslt_template_mapping' metadata_format.id %}">
                        <i class="fa fa-random"></i> Mapping
                    </a>
                </span>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td class="empty add" colspan="4">
                There are currently no Metadata Formats. Please
                <a href="{% url 'admin:core_oaipmh_provider_app_add_metadata_format' %}">add a new one</a>.
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}